<div [@routerTransition]>
        <div class="row">
            <div class="col col-lg-12">
                <div class="card mb-6">
                    <div class="card-header">Resources
                        <button (click)="newProjectDialog()" style="float:right">add</button>
    
                    </div>
                    
                    <div class="card-body table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>location</th>
                                    <th>email-id</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let employee of employees; let i= index;">    
                                    <td>{{employee.data.name}}</td>
                                    <td>{{employee.data.location}}</td>
                                    <td>{{employee.data.email}}</td>
                                    <td>
                                        <div>
                                            <button (click)="editProjectDialog($event,employee.data,employee.id,i)">edit</button>
                                            <button (click)="deleteEmployee($event,employee)">Delete</button>
                                        </div></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
